@charset "UTF-8";
:root {
  --body-color: #212121;
  --background-color: #f5f4fa;
  --brand-color: #ffffff;
  --team-color: #757575;
  --element-color: #2196f3;
  --hover-color: #ffe602;
  --font-size: 14px;
  --line-height: 1.14;
  --letter-spacing: 0.02em;
  --text-decoration: none;
  --cursor: pointer;
  --gallery-list-gap: 30px;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  color: var(--body-color);
  font-family: 'Roboto', sans-serif;
}

.navigation-list,
.gallery-list-filter,
.list,
.chip-list,
.job-list,
.team-list,
.footer-list,
.gallery-list,
.social,
.clients-list,
.footer-list-iconc,
.nav__item,
.contacts__item,
.mobil-social__item {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  position: relative;
  background: var(--brand-color);
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.navigation-logo {
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .navigation-logo {
    margin-right: 93px;
  }
}

.navigation-logo,
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  color: #2196f3;
}

.logo {
  color: #212121;
}

.logo-span {
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .header-list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: var(--letter-spacing);
    -webkit-text-decoration: var(--text-decoration);
            text-decoration: var(--text-decoration);
    color: var(--team-color);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: var(--duration);
            transition-duration: var(--duration);
    -webkit-transition-timing-function: var(--timing-function);
            transition-timing-function: var(--timing-function);
  }
}

@media screen and (min-width: 1200px) {
  .header-list-link {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
}

.header-list-link:hover,
.header-list-link:focus {
  color: #2196f3;
}

.list {
  display: none;
}

@media screen and (min-width: 768px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-iconc-mail {
  margin-right: 10px;
  fill: currentColor;
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .header-iconc-mail {
    width: 16px;
    height: 12px;
  }
}

.header-iconc-telephone {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .header-iconc-telephone {
    width: 10px;
    height: 16px;
  }
}

.navigation__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  cursor: var(--cursor);
  border: none;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.navigation__btn:hover, .navigation__btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__btn {
    display: none;
  }
}

.navigation__iconc {
  border: none;
  background-color: var(--brand-color);
}

.navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--element-color);
}

.navigation-link-activ {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  color: var(--element-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.navigation-link-activ::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--element-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .navigation-link-activ::after {
    bottom: -1px;
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: #c4c4c4;
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url(../img/hero/Header-1_mb.jpg);
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Header-1_mb.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url(../img/hero/Header-1_mb@2x.jpg);
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Header-1_mb@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url(../img/hero/Header-2_tb.jpg);
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Header-2_tb.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url(../img/hero/Header-2_tb@2x.jpg);
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Header-2_tb@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url(../img/hero/Header-3_dt.jpg);
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Header-3_dt.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url(../img/hero/Header-3_dt@2x.jpg);
    background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Header-3_dt@2x.jpg);
  }
}

.hero__title {
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  color: var(--brand-color);
  cursor: var(--cursor);
  font-family: inherit;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  color: #ffe602;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.model-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px;
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .model-btn {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .model-btn {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: var(--cursor);
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.close-btn:hover, .close-btn:focus {
  border: 1px solid #2196f3;
}

.close-iconc {
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.close-btn:hover .close-iconc,
.close-btn:focus .close-iconc {
  fill: #2196f3;
}

.model-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .model-title {
    line-height: 1.15;
  }
}

.model-user {
  display: block;
}

.model-input {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.model-input:hover, .model-input:focus {
  border: 1px solid #2196f3;
}

.model-tex {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.model-tex:hover, .model-tex:focus {
  border: 1px solid #2196f3;
}

.model-tex::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.model-tex:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.model-tex::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.model-tex::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-info {
  position: relative;
  margin-bottom: 10px;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--team-color);
}

.model-iconc {
  display: block;
  position: absolute;
  top: 32px;
  left: 12px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.model-iconc:hover, .model-iconc:focus {
  fill: #2196f3;
}

.model-input:hover + .model-iconc,
.model-input:focus + .model-iconc {
  fill: #2196f3;
}

.input {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: var(--team-color);
}

.user-textarea {
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 30px;
  position: relative;
}

.visually-hidden {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-input:checked + .custom-checkbox .checkbox-iconc {
  opacity: 1;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.checkbox-input:checked + .custom-checkbox {
  background-color: #2196f3;
  outline: 2px solid #2196f3;
  -webkit-transition-property: background-color, outline;
  transition-property: background-color, outline;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  fill: var(--brand-color);
  border: 0.2px solid var(--brand-color);
  border-radius: 2px;
  -webkit-transition-property: fill, outline;
  transition-property: fill, outline;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  cursor: var(--cursor);
}

.checkbox-iconc {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.checkbox-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox-agreement {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.contract {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contract {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  outline: transparent;
  cursor: var(--cursor);
  -webkit-transition-property: color, border-radius, border;
  transition-property: color, border-radius, border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.submit-btn:hover, .submit-btn:focus {
  color: #ffe602;
  border: 1px solid #2196f3;
  border-radius: 0;
  background-color: #188ce8;
}

/* наши особиности */
.chip {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .chip {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.chip__title {
  display: none;
}

.chip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

.chip-list > .chip-list__item {
  -ms-flex-preferred-size: calc(100% / 1 - var(--gallery-list-gap));
      flex-basis: calc(100% / 1 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);
}

@media screen and (min-width: 768px) {
  .chip-list > .chip-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-list-gap));
        flex-basis: calc(100% / 2 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .chip-list > .chip-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--gallery-list-gap));
        flex-basis: calc(100% / 4 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.chip-list__iconc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: var(--background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.chip-list__title {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .chip-list__title {
    text-align: left;
  }
}

.chip-list__title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.chip-list__team {
  font-size: var(--font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--team-color);
}

/*  работа */
@media screen and (min-width: 1200px) {
  .job {
    padding-bottom: 94px;
  }
}

.job-list {
  display: none;
}

@media screen and (min-width: 1200px) {
  .job-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.job__title {
  display: none;
}

@media screen and (min-width: 1200px) {
  .job__title {
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.job-list__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.job-list__item {
  position: relative;
}

.job-list__item > .job-list__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--brand-color);
  content: '';
  width: 100%;
  height: 70px;
}

/* команда */
.team {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-list > .team-list__item {
  -ms-flex-preferred-size: calc(100% / 1 - var(--gallery-list-gap));
      flex-basis: calc(100% / 1 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);
}

@media screen and (min-width: 768px) {
  .team-list > .team-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-list-gap));
        flex-basis: calc(100% / 2 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-list > .team-list__item {
    -ms-flex-preferred-size: calc(100% / 4 - var(--gallery-list-gap));
        flex-basis: calc(100% / 4 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-list__title {
  margin-bottom: 10px;
}

.team-list__item {
  background-color: var(--brand-color);
}

.team-list__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list__team {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--team-color);
  margin-bottom: 16px;
}

.team-list__name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* иконки команды */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--brand-color);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--element-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover .social__iconc,
.social__link:focus .social__iconc {
  fill: var(--brand-color);
}

.social__iconc {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

/* постоянные клиенты */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

@media screen and (min-width: 1200px) {
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients-list > .clients-list__item {
  -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-list-gap));
      flex-basis: calc(100% / 2 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);
}

@media screen and (min-width: 768px) {
  .clients-list > .clients-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--gallery-list-gap));
        flex-basis: calc(100% / 3 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list > .clients-list__item {
    -ms-flex-preferred-size: calc(100% / 6 - var(--gallery-list-gap));
        flex-basis: calc(100% / 6 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  outline: transparent;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--element-color);
}

.clients-list__link:hover .clients-list__iconc,
.clients-list__link:focus .clients-list__iconc {
  fill: var(--element-color);
}

.clients-list__iconc {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

/* кнопка галиреи */
.gallery-title-btn {
  display: none;
}

.gallery-btn-aktiv {
  padding: 6px 22px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: var(--element-color);
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: var(--cursor);
  font-family: inherit;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.gallery-btn-aktiv:hover, .gallery-btn-aktiv:focus {
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--body-color);
  background-color: var(--background-color);
  cursor: var(--cursor);
  font-family: inherit;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.gallery-btn:hover, .gallery-btn:focus {
  background-color: var(--element-color);
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: translateX(0);
  transition: translateX(0);
}

.gallery-item-btn {
  margin-right: 8px;
}

.gallery-list-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .gallery-list-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 34px;
  }
}

/* галирея */
@media screen and (min-width: 480px) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

.gallery-list > .gallery-item {
  -ms-flex-preferred-size: calc(100% / 1 - var(--gallery-list-gap));
      flex-basis: calc(100% / 1 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);
}

@media screen and (min-width: 768px) {
  .gallery-list > .gallery-item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--gallery-list-gap));
        flex-basis: calc(100% / 2 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list > .gallery-item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--gallery-list-gap));
        flex-basis: calc(100% / 3 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.gallery-link {
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.gallery-link:hover, .gallery-link:focus {
  display: block;
  cursor: var(--cursor);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-link:hover .foto-title,
.gallery-link:focus .foto-title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.gallery-foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.foto-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: var(--brand-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.gallery-ps {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--body-color);
}

.gallery-team {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--team-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 20px;
  color: var(--element-color);
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container-box {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container-box {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container-box {
    width: 1170px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.conteiner-tabl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .conteiner-tabl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    margin-right: 70px;
  }
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-bottom: 0;
  }
}

.footer-address-text {
  margin-bottom: 9px;
  font-size: var(--font-size);
  line-height: 1.71;
  color: var(--brand-color);
}

.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin-bottom: 0px;
}

.footer-list-link {
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  color: #ffffff60;
}

/* иконки подвала */
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
  }
}

.footer-list-iconc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-list-iconc {
    margin-bottom: 0;
  }
}

.item-iconc:not(:last-child) {
  margin-right: 10px;
}

.item-iconc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.item-iconc:hover, .item-iconc:focus {
  background-color: var(--element-color);
}

.item-iconc:hover .svg-iconc,
.item-iconc:focus .svg-iconc {
  fill: var(--brand-color);
}

.svg-iconc {
  fill: var(--brand-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

/* рассылка подвал */
.mailing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .mailing-list {
    margin-left: auto;
  }
}

.mailing-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.mailing-input {
  width: 450px;
  padding: 16px 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  color: var(--brand-color);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.mailing-input:focus, .mailing-input:hover {
  border: 1px solid var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mailing-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  background: var(--element-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  cursor: var(--cursor);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.mailing-submit-btn:hover, .mailing-submit-btn:focus {
  color: var(--hover-color);
}

.mailing-iconc {
  margin-left: 10px;
  fill: var(--brand-color);
  outline: transparent;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.mailing-submit-btn:hover .mailing-iconc,
.mailing-submit-btn:focus .mailing-iconc {
  fill: var(--hover-color);
}

.mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--brand-color);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  cursor: var(--cursor);
  border: none;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.mobile__btn:hover, .mobile__btn:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .mobile__btn {
    display: none;
  }
}

.mobile-iconc {
  border: none;
  background-color: var(--brand-color);
  margin-top: 10px;
  margin-right: 15px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.mobile-btn:hover .mobile-iconc,
.mobile-btn:focus .mobile-iconc {
  fill: #2196f3;
}

.nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
}

.nav__link:hover, .nav__link:focus {
  color: var(--element-color);
}

.nav__link-activ {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
  color: var(--element-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.contacts__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
          transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
}

.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
}

.mobil-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobil-social__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  -webkit-text-decoration: var(--text-decoration);
          text-decoration: var(--text-decoration);
}

.mobil-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobil-social__item:not(:last-child)::after {
  content: '';
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */