@import './utils/variables';
@import './utils/mixins';
@import './components/header';
@import './components/navigation';
@import './components/hero';
@import './components/hero-btn';
@import './components/backdrop';
@import './components/chip';
@import './components/job';
@import './components/team';
@import './components/social';
@import './components/clients';
@import './components/gallery-btn';
@import './components/gallery';
@import './components/footer';
@import './components/footer-iconc';
@import './components/mailing';
