.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.model-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;

  padding: 40px;

  background-color: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: var(--cursor);

  outline: transparent;

  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.close-iconc {
  fill: #212121;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.close-btn:hover .close-iconc,
.close-btn:focus .close-iconc {
  fill: #2196f3;
}

.model-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.model-user {
  display: block;
}

.model-input {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.model-tex {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: var(--line-height);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.user-info {
  position: relative;
  margin-bottom: 10px;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--team-color);
}

.model-iconc {
  display: block;
  position: absolute;
  top: 32px;
  left: 12px;
  fill: #212121;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.model-input:hover + .model-iconc,
.model-input:focus + .model-iconc {
  fill: #2196f3;
}

.input {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;

  color: var(--team-color);
}

.user-textarea {
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 30px;
  position: relative;
}

.visually-hidden {
  appearance: none;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-input:checked + .custom-checkbox .checkbox-iconc {
  opacity: 1;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.checkbox-input:checked + .custom-checkbox {
  background-color: #2196f3;
  outline: 2px solid #2196f3;
  transition-property: background-color, outline;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  width: 16px;
  height: 15px;

  outline: 2px solid #212121;
  outline-offset: -2px;

  fill: var(--brand-color);
  border: 0.2px solid var(--brand-color);

  border-radius: 2px;
  transition-property: fill, outline;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  cursor: var(--cursor);
}

.checkbox-iconc {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.checkbox-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.03em;

  color: #757575;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
  }
}

.contract {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
  }
}

.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  width: 200px;
  height: 50px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--brand-color);

  outline: transparent;
  cursor: var(--cursor);
  transition-property: color, border-radius, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: #ffe602;
    border: 1px solid #2196f3;
    border-radius: 0;
    background-color: #188ce8;
  }
}
