/* наши особиности */

.chip {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.chip__title {
  display: none;
}

.chip-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

.chip-list > .chip-list__item {
  flex-basis: calc(100% / 1 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.chip-list__iconc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.chip-list__title {
  margin-bottom: 10px;
  text-align: center;

  @media screen and(min-width: 768px) {
    text-align: left;
  }
}

.chip-list__title {
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.chip-list__team {
  font-size: var(--font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--team-color);
}
