/* постоянные клиенты */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients-list > .clients-list__item {
  flex-basis: calc(100% / 2 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  outline: transparent;

  &:hover,
  &:focus {
    border-color: var(--element-color);
  }
}

.clients-list__link:hover .clients-list__iconc,
.clients-list__link:focus .clients-list__iconc {
  fill: var(--element-color);
}

.clients-list__iconc {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
