// подвал

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: var(--text-decoration);
  color: var(--element-color);
}

//  адресс подвал

.container-box {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and(min-width: 1200px) {
    width: 1170px;
  }
}

.footer-content {
  margin-right: 70px;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-address-text {
  margin-bottom: 9px;
  font-size: var(--font-size);
  line-height: 1.71;
  color: var(--brand-color);
}

.footer-list-item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.footer-list-link {
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: #ffffff60;
}
