/* галирея */

.gallery {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--gallery-list-gap));
  margin-top: calc(-1 * var(--gallery-list-gap));
}

.gallery-list > .gallery-item {
  flex-basis: calc(100% / 1 - var(--gallery-list-gap));
  margin-top: var(--gallery-list-gap);
  margin-left: var(--gallery-list-gap);

  @media screen and (min-width: 768) {
    flex-basis: calc(100% / 2 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - var(--gallery-list-gap));
    margin-top: var(--gallery-list-gap);
    margin-left: var(--gallery-list-gap);
  }
}

.gallery-link {
  text-decoration: var(--text-decoration);

  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    display: block;
    cursor: var(--cursor);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-link:hover .foto-title,
.gallery-link:focus .foto-title {
  transform: translateX(0);
}

.gallery-foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.foto-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  color: var(--brand-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(101%);
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.gallery-ps {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--body-color);
}

.gallery-team {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--team-color);
}
