.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(#2f303a66, #2f303a66), url(../img/hero/Img.jpg);
  background-size: cover;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.hero__title {
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--brand-color);

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
