.navigation-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: #212121;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--element-color);
  }
}

.navigation-link-activ {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-decoration: var(--text-decoration);
  color: var(--element-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.navigation-link-activ::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--element-color);
  border-radius: 2px;

  @media screen and (min-width: 1200px) {
    bottom: -1px;
  }
}
